
		.common{
			margin: auto auto;
			width: 960px;
			
		}
		#container {
			border: 1px solid #000;
			background-color: #719ba7;
			/* display:inline-block; */
		}
		
		#information{
			background-color: #FFF;
		}
		
		div.dataTables_wrapper {
			background-color: #719ba7;
		}

		div.dataTables_length {
			float: left;
		}
	
		div.dataTables_filter {
			float: right;
		}
		 
		div.dataTables_info {
			padding: 9px 6px 6px 6px;
			float: left;
		}
		 
		div.dataTables_paginate {
			float: right;
		}
		
		div.dataTables_length,
		div.dataTables_filter,
		div.dataTables_paginate,
		div.dataTables_info {
			padding: 6px;
			
		}
		
		table.pretty {
			clear: both;
		}
		 
		/* Self clearing - */
		div.dataTables_wrapper:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
		html[xmlns] .dataTables_wrapper { display: block; }
		* html .dataTables_wrapper { height: 1%; }
		/*Self Clearing technique ... no idea about its working.... nned to figure it out... */
	
		/* Table Styling */
		
		table.pretty {
			width: 100%;
			align:center;
			margin:auto auto;
			clear: both;
		}
			
		table.pretty td,
		table.pretty th {
			padding: 5px;
			border: 1px solid #fff;
		}
		
		table.pretty thead th {
			text-align: center;
			background: #66a9bd;
			font-weight:bold;
		}
	
		table.pretty tbody td {
			text-align: center;
			background: #d5eaf0;
		}
				
		table.pretty tbody tr.odd td { 
			background: #bcd9e1;
		}
		
		table.pretty tbody tr td.sorting_1{ 
			text-align:center;
		}
		
		/* Table Styling */
		
		
		/* Heading Sorting styling */
		table.pretty thead th.sorting_asc {
			background: #66A9BD url('../images/sort_asc.png') no-repeat right center;
		}

		table.pretty thead th.sorting_desc {
			background: #66A9BD url('../images/sort_desc.png') no-repeat right center;
		}

		table.pretty thead th.sorting {
			background: #66A9BD url('../images/sort_both.png') no-repeat right center;
		}
		
		
		/*Pagination Styling*/
		
		
		